p {
    margin: 0 !important;
}


.body {
    background-color: #242424;
    display: flex;
    /* height: 100em; */
}

.leftbody {
    width: 20%;
    background-color: #2D2D2D;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 999;
}

.rightbody {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* align-items: center; */
    padding: 2em 3em 2em 3em;
}


.linkus {
    color: #8A8A8A;
    text-decoration: none;
    display: flex;
    justify-content: left;
    cursor: pointer;
    width: 100%;
    align-items: center;
    padding: 0 2em 0 2em;
    margin-top: 1em;
    height: 3em;
    transition: 0.5s ease;
}

.linkus:hover {
    background-color: #3b3b3b;
}

.fixtxt {
    margin-left: 2em !important;


}

.content {
    color: #FFFFFF;
    font-size: 2em;
    margin-top: 1em !important;
}

.btnlink {
    transition: 0.5s ease;
}

.btnlink:hover {
    opacity: 0.7;
}

.morefoot {
    padding: 1em 10% 1em 10%;
    border-top: 0.5px solid #CBCBCB;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    display: flex;
    /* margin-top: 10em; */
    background-color: #3b3b3b;
    justify-content: space-between;
    padding: 2em 10% 2em 10%;
    border-top: 0.5px solid #CBCBCB;
}

.headfoot {
    color: #FFFFFF;
    font-size: 1.75em;
    font-weight: 100;
}

.bodyfoot {
    color: #FFFFFF;
    font-weight: 100;
    text-decoration: none;
    display: flex;
}

.fix {
    display: flex;
}

.bi.bi-facebook {
    margin-right: 1em;
}

.bodyfoot.link:hover {
    opacity: 0.7;
}

.error {
    color: #ff0000;
}


.linkus.active {
    background-color: #3b3b3b;
}

.sotien {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.txtblc {
    color: #FFFFFF;
}

.bi-eye-slash, .bi-eye {
    color: #FFFFFF;
    cursor: pointer;
    /* transition: 0.5s ease; */
}

.bi-eye-slash {
    display: none;
}

.bi-eye-slash.active {
    display: block;
}



.headright {
    align-items: center;
    margin-bottom: 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.naptien {
    border-radius: .25em;
    border: 0;
    background-color: #A100ED;
    padding: 0.5em 1em 0.5em 1em;
    color: #FFFFFF;
    transition: 0.75s ease;
}

.naptien:hover {
    background-color: #2D2D2D;
    border: 0.5px solid #A100ED;
}

table {
    text-align: center;

}

th, td {
    border-width: var(--bs-border-width) !important;

}

.fixcenter {
    vertical-align: middle;

}

.fixmar {
    margin: 0 1em !important;
}

.fixflex {
    display: flex;
    width: 100%;
    justify-content: center;

}

.input-qty {
    width: 2em;
    font-size: 2em;
}

.imgsp {
    width: 10em;
}


.btnsave, .btnsave2 {

    color: #FFFFFF;


    text-decoration: none;
    font-weight: bold;
}

.btnsave:hover {
    color: #A100ED;
    /* color: ; */
}

.space {
    height: 2em;
}

.footright {
    background-color: #3b3b3b;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    position: sticky;
    z-index: 999;
    bottom: 0;
}


.pay {
    display: flex;
    align-items: center;
}

.txtsp {
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 2em !important;

}

.btnpay {
    padding: 0.5em 1em 0.5em 1em;
    border: 0;
    border-radius: 0.25em;
    font-weight: bold;
}

.naptien2 {
    /* font-weight: 800; */
    color: #FFFFFF;
    text-decoration: none;
    border: 0.5px solid #A100ED;
    border-radius: 0.25em;
    padding: .5em 1em;
    background-color: #8A8A8A;
    transition: 0.5s ease;
}

.naptien2:hover {
    background-color: #A100ED;
    border: 0.5px solid #FFFFFF;

}

.btnsave3 {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: bold;
    border: 0;
}

.btnsave3:hover {
    color: #A100ED;
}

.smallavatar {
    border-radius: 50%;
    width: 60%;
}