td{
    vertical-align: middle !important;
}

.buttonfix{
    background-color: transparent;
    border: 0;
    color: blue;
}

.buttonfix:hover{
    color: rgb(2, 2, 137);
}

.fixtd{
    color: red;
    font-weight: bold;
}

.form-control{
    max-width: 40%;
    min-width: 25%;
}

.fixtd2{
    font-weight: bold;
    color: blue;
}

.form-control{
    max-width: 40%;
    min-width: 25%;
}

.input-group>.form-control{
    /* width: 100%; */
    max-width: 100% !important;
}

.input-group>.input-group-text{
    /* width: 100%; */
    width: 30%;
}