td{
    vertical-align: middle !important;
}

.buttonfix{
    background-color: transparent;
    border: 0;
    color: blue;
}

.buttonfix:hover{
    color: rgb(2, 2, 137);
}

.fixtd{
    color: red;
    font-weight: bold;
}

.form-control{
    max-width: 40%;
    min-width: 25%;
}