p{
    margin: 0 !important;
}

.navbar{
    padding: .5em 7.5% .5em 7.5% !important;
    background-color: #CBCBCB !important;
}

.container-fluid{
    display: flex !important;
    justify-content: space-between !important;
}

.navbar-collapse{
    flex-grow: unset !important;
}

.btn-login{
    margin-right: 1em;
}

.btn-login,.btn-signup{
    border-radius: 0.25em;
    padding: .5em;
    border: 0;
    width: 5em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #A100ED;
}

.btn-login:hover,.btn-signup:hover{
    background-color: #2D2D2D;
    transition: 0.75s ease-out;
    border: 0.5px solid #A100ED;
}

.error{
    color: #ff0000;
    
}

.body{
    width: 100%;
    padding: 0 25% 0 25% ;
    margin-top: 10em;
}

body{
    background-color: #2D2D2D !important;
}






.footer{
    width: 100%;
    display: flex;
    margin-top: 10em;
    justify-content: space-between;
    padding: 2em 10% 2em 10%;
    border-top: 0.5px solid #CBCBCB;
}

.headfoot{
    color: #FFFFFF;
    font-size: 1.75em;
    font-weight: 100;
}

.bodyfoot{
    color: #FFFFFF;
    font-weight: 100;
    text-decoration: none;
    display: flex;
}

.fix{
    display: flex;
}

.bi.bi-facebook{
    margin-right: 1em;
}

.bodyfoot.link:hover{
    opacity: 0.7;
}

.morefoot{
    padding: 1em 10% 1em 10% ;
    border-top: 0.5px solid #CBCBCB;
    display: flex;
    justify-content: space-between;
}

label{
    color: #FFFFFF;
    margin: 1em 0 1em 0;
}

.box1{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    padding: 0 35% 0 35%;
}

.rmb{
    display: flex;
}

.botofinput{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.inputbox1{
    margin-bottom: 1em;
    border-radius: 0.25em;
    padding-left: 0.5em;
    height: 2.5em;
    border: 0;
}

.rmbtxt{
    color: #FFFFFF;
    margin-left: 0.5em !important;
}

.tieudebox1{
    font-size: 3.5em;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

.btnlogin{
    border-radius: 0.25em;
    border: 0;
    width: 50%;
    height: 3em;
    transition: 0.5s ease-in;
    background-color: #CBCBCB;
    color: #2D2D2D;
    text-transform: uppercase;
    font-weight: bold;
}

.btnlogin:hover{
    background-color: #A100ED;
    color: #FFFFFF;
}

.btnfix{
    display: flex;
    justify-content: center;
}

.ckbx{
    cursor: pointer;
}